*{
    font-family: 'Mulish', sans-serif;
    color: #1e3050 ;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;    
    background-color: #E6EFF6 ;
}

main{
    display: grid;  
    grid-template-rows: auto auto;
    grid-template-columns:25% 25% 25% 25%;
    row-gap: 35px;
    width: 100%;
    height: auto;
}

section{
    background-color: #fff;
    border-radius: 8px;
    height: 100%;
    padding: 10%;
    margin-right: 35px;
}
section:hover{
    box-shadow: 0 0 10px #1e3050;
}

h2{
    font-weight: 700;
    font-size: 23px;
    padding: 20px;
}
.coaching{
    margin: auto 5%;
}
.padding{
    padding: 20px 10px;
}

.text{
    font-size: 18px;
    color: grey;
    display: inline-block;
    height: 150px;
}

.line {
    height: 1px;
    background-color: lightgrey;
    margin: 15% 20%;
}


.icon{
    font-size: 4rem;
    text-align: center;
}

a.button{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
a.button:hover{
    color: #fff;
    background-color: #4aabf2;
    border:13px solid #4aabf2;
    border-radius:18px;
    box-shadow: 0 2px 5px #1e3050;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    main{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
    }
}
@media screen and (max-width: 500px){
    main{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto auto;
    }
}

 /* SIDEBAR

.sidebar {
    width: 100px;
    height: 100%;
    background-color: #1e3050;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
  }
  
  .sidebar ul li {
    margin-bottom: 20px;
  }
  
  .sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
  }
  
  .sidebar ul li a:hover {
    color: #5ad571;
    font-weight: 700;
  }
  */